@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: rgb(50, 110, 199);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

section {
    background-color: white;
    height: 50vh;
    width: 50vw;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.425);
    margin: auto;
    padding: 10px;
}

div.form {
    
}

div.foto {

}

footer {
    text-align: center;
    margin-top: 20px;
}